--
-- PostgreSQL database dump
--

-- Dumped from database version 17.5 (Debian 17.5-1.pgdg120+1)
-- Dumped by pg_dump version 17.5 (Debian 17.5-1.pgdg120+1)

SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET transaction_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;

SET default_tablespace = '';

SET default_table_access_method = heap;

--
-- Name: activities; Type: TABLE; Schema: public; Owner: volunteer
--

CREATE TABLE public.activities (
    actual_participants integer,
    approved_participants integer NOT NULL,
    current_participants integer NOT NULL,
    max_participants integer,
    pending_participants integer NOT NULL,
    the_number_of_ctxh_day double precision NOT NULL,
    activity_id bigint NOT NULL,
    completed_at timestamp(6) without time zone,
    create_at timestamp(6) without time zone,
    create_by bigint,
    end_date_time timestamp(6) without time zone NOT NULL,
    organization_id bigint NOT NULL,
    registration_deadline timestamp(6) without time zone,
    registration_opens_at timestamp(6) without time zone,
    start_date_time timestamp(6) without time zone NOT NULL,
    update_at timestamp(6) without time zone,
    update_by bigint,
    activity_status character varying(20) NOT NULL,
    registration_state character varying(20) NOT NULL,
    category character varying(50),
    title character varying(200) NOT NULL,
    address character varying(500),
    short_description character varying(500),
    description text,
    image_url character varying(255),
    requirements text,
    CONSTRAINT activities_activity_status_check CHECK (((activity_status)::text = ANY ((ARRAY['UPCOMING'::character varying, 'ONGOING'::character varying, 'COMPLETED'::character varying])::text[]))),
    CONSTRAINT activities_category_check CHECK (((category)::text = ANY ((ARRAY['EDUCATION_SUPPORT'::character varying, 'SOCIAL_SUPPORT'::character varying, 'COMMUNITY_SERVICE'::character varying, 'ENVIRONMENT'::character varying, 'HEALTH_CAMPAIGN'::character varying, 'EVENT_SUPPORT'::character varying, 'FUNDRAISING'::character varying, 'OTHER'::character varying])::text[]))),
    CONSTRAINT activities_registration_state_check CHECK (((registration_state)::text = ANY ((ARRAY['OPEN'::character varying, 'FULL'::character varying, 'CLOSED'::character varying, 'COMPLETED'::character varying])::text[])))
);


ALTER TABLE public.activities OWNER TO volunteer;

--
-- Name: activities_activity_id_seq; Type: SEQUENCE; Schema: public; Owner: volunteer
--

ALTER TABLE public.activities ALTER COLUMN activity_id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.activities_activity_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: attendances; Type: TABLE; Schema: public; Owner: volunteer
--

CREATE TABLE public.attendances (
    activity_id bigint NOT NULL,
    attendance_date timestamp(6) without time zone NOT NULL,
    attendance_id bigint NOT NULL,
    check_in_time timestamp(6) without time zone,
    check_out_time timestamp(6) without time zone,
    create_at timestamp(6) without time zone,
    create_by bigint,
    student_id bigint NOT NULL,
    update_at timestamp(6) without time zone,
    update_by bigint,
    status character varying(20) NOT NULL,
    CONSTRAINT attendances_status_check CHECK (((status)::text = ANY ((ARRAY['PRESENT'::character varying, 'ABSENT'::character varying])::text[])))
);


ALTER TABLE public.attendances OWNER TO volunteer;

--
-- Name: attendances_attendance_id_seq; Type: SEQUENCE; Schema: public; Owner: volunteer
--

ALTER TABLE public.attendances ALTER COLUMN attendance_id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.attendances_attendance_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: certificates; Type: TABLE; Schema: public; Owner: volunteer
--

CREATE TABLE public.certificates (
    ctxh_hours double precision NOT NULL,
    is_revoked boolean NOT NULL,
    activity_end_date timestamp(6) without time zone,
    activity_id bigint NOT NULL,
    activity_start_date timestamp(6) without time zone,
    certificate_id bigint NOT NULL,
    create_at timestamp(6) without time zone,
    create_by bigint,
    enrollment_id bigint NOT NULL,
    issued_date timestamp(6) without time zone NOT NULL,
    revoked_at timestamp(6) without time zone,
    student_id bigint NOT NULL,
    update_at timestamp(6) without time zone,
    update_by bigint,
    student_academic_year character varying(20),
    student_mssv character varying(20),
    certificate_code character varying(100) NOT NULL,
    representative_email character varying(100),
    representative_name character varying(100),
    student_faculty character varying(100),
    student_name character varying(100) NOT NULL,
    activity_title character varying(200) NOT NULL,
    organization_name character varying(200) NOT NULL,
    revoke_reason character varying(500)
);


ALTER TABLE public.certificates OWNER TO volunteer;

--
-- Name: certificates_certificate_id_seq; Type: SEQUENCE; Schema: public; Owner: volunteer
--

ALTER TABLE public.certificates ALTER COLUMN certificate_id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.certificates_certificate_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: enrollments; Type: TABLE; Schema: public; Owner: volunteer
--

CREATE TABLE public.enrollments (
    is_completed boolean NOT NULL,
    activity_id bigint NOT NULL,
    applied_at timestamp(6) without time zone NOT NULL,
    approved_at timestamp(6) without time zone,
    approved_by bigint,
    completed_at timestamp(6) without time zone,
    create_at timestamp(6) without time zone,
    create_by bigint,
    enrollment_date timestamp(6) without time zone NOT NULL,
    enrollment_id bigint NOT NULL,
    rejected_at timestamp(6) without time zone,
    rejected_by bigint,
    student_id bigint NOT NULL,
    update_at timestamp(6) without time zone,
    update_by bigint,
    status character varying(20) NOT NULL,
    CONSTRAINT enrollments_status_check CHECK (((status)::text = ANY ((ARRAY['PENDING'::character varying, 'APPROVED'::character varying, 'REJECTED'::character varying, 'COMPLETED'::character varying])::text[])))
);


ALTER TABLE public.enrollments OWNER TO volunteer;

--
-- Name: enrollments_enrollment_id_seq; Type: SEQUENCE; Schema: public; Owner: volunteer
--

ALTER TABLE public.enrollments ALTER COLUMN enrollment_id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.enrollments_enrollment_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: notifications; Type: TABLE; Schema: public; Owner: volunteer
--

CREATE TABLE public.notifications (
    notification_id bigint NOT NULL,
    create_at timestamp(6) without time zone,
    create_by bigint,
    update_at timestamp(6) without time zone,
    update_by bigint,
    body text,
    data jsonb,
    is_read boolean NOT NULL,
    is_sent boolean NOT NULL,
    title character varying(200) NOT NULL,
    type character varying(50) NOT NULL,
    user_id bigint NOT NULL,
    CONSTRAINT notifications_type_check CHECK (((type)::text = ANY ((ARRAY['REMINDER'::character varying, 'ATTENDANCE_COMPLETED'::character varying, 'ENROLLMENT_APPROVED'::character varying, 'ENROLLMENT_REJECTED'::character varying, 'ENROLLMENT_CREATED'::character varying, 'ACTIVITY_UPDATED'::character varying, 'ACTIVITY_CANCELLED'::character varying, 'GENERAL'::character varying])::text[])))
);


ALTER TABLE public.notifications OWNER TO volunteer;

--
-- Name: notifications_notification_id_seq; Type: SEQUENCE; Schema: public; Owner: volunteer
--

ALTER TABLE public.notifications ALTER COLUMN notification_id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.notifications_notification_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: organizations; Type: TABLE; Schema: public; Owner: volunteer
--

CREATE TABLE public.organizations (
    completed_activities_count integer,
    total_activities_created integer NOT NULL,
    create_at timestamp(6) without time zone,
    create_by bigint,
    update_at timestamp(6) without time zone,
    update_by bigint,
    user_id bigint NOT NULL,
    representative_phone character varying(20),
    type character varying(50) NOT NULL,
    representative_email character varying(100),
    representative_name character varying(100),
    organization_name character varying(200) NOT NULL,
    verification_status character varying(255),
    CONSTRAINT organizations_type_check CHECK (((type)::text = ANY ((ARRAY['UNIVERSITY_DEPARTMENT'::character varying, 'STUDENT_UNION'::character varying, 'CLUB'::character varying, 'NGO'::character varying, 'COMPANY'::character varying, 'GOVERNMENT'::character varying, 'CHARITY'::character varying, 'FOUNDATION'::character varying, 'COMMUNITY_GROUP'::character varying, 'OTHER'::character varying])::text[]))),
    CONSTRAINT organizations_verification_status_check CHECK (((verification_status)::text = ANY ((ARRAY['PENDING'::character varying, 'APPROVED'::character varying, 'REJECTED'::character varying, 'NEED_MORE_INFO'::character varying])::text[])))
);


ALTER TABLE public.organizations OWNER TO volunteer;

--
-- Name: roles; Type: TABLE; Schema: public; Owner: volunteer
--

CREATE TABLE public.roles (
    role_id bigint NOT NULL,
    role_name character varying(50) NOT NULL,
    description character varying(255)
);


ALTER TABLE public.roles OWNER TO volunteer;

--
-- Name: roles_role_id_seq; Type: SEQUENCE; Schema: public; Owner: volunteer
--

ALTER TABLE public.roles ALTER COLUMN role_id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.roles_role_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: students; Type: TABLE; Schema: public; Owner: volunteer
--

CREATE TABLE public.students (
    date_of_birth date,
    total_ctxh_days double precision NOT NULL,
    mssv character varying(7),
    create_at timestamp(6) without time zone,
    create_by bigint,
    update_at timestamp(6) without time zone,
    update_by bigint,
    user_id bigint NOT NULL,
    gender character varying(10),
    academic_year character varying(20),
    faculty character varying(100),
    full_name character varying(100) NOT NULL,
    qr_code_data character varying(500),
    phone_number character varying(255),
    CONSTRAINT students_gender_check CHECK (((gender)::text = ANY ((ARRAY['MALE'::character varying, 'FEMALE'::character varying, 'OTHER'::character varying])::text[])))
);


ALTER TABLE public.students OWNER TO volunteer;

--
-- Name: tasks; Type: TABLE; Schema: public; Owner: volunteer
--

CREATE TABLE public.tasks (
    activity_id bigint NOT NULL,
    create_at timestamp(6) without time zone,
    create_by bigint,
    task_id bigint NOT NULL,
    update_at timestamp(6) without time zone,
    update_by bigint,
    task_type character varying(50),
    name character varying(200) NOT NULL,
    description text,
    CONSTRAINT tasks_task_type_check CHECK (((task_type)::text = ANY ((ARRAY['PREPARATION'::character varying, 'MAIN_ACTIVITY'::character varying, 'CLEANUP'::character varying, 'LOGISTICS'::character varying, 'COORDINATION'::character varying, 'DOCUMENTATION'::character varying, 'MEDIA'::character varying, 'REGISTRATION'::character varying, 'FEEDBACK'::character varying, 'OTHER'::character varying])::text[])))
);


ALTER TABLE public.tasks OWNER TO volunteer;

--
-- Name: tasks_task_id_seq; Type: SEQUENCE; Schema: public; Owner: volunteer
--

ALTER TABLE public.tasks ALTER COLUMN task_id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.tasks_task_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: users; Type: TABLE; Schema: public; Owner: volunteer
--

CREATE TABLE public.users (
    failed_login_attempts integer,
    is_banned boolean NOT NULL,
    is_locked boolean NOT NULL,
    is_verified boolean NOT NULL,
    create_at timestamp(6) without time zone,
    create_by bigint,
    last_login_at timestamp(6) without time zone,
    last_password_change_at timestamp(6) without time zone,
    locked_until timestamp(6) without time zone,
    refresh_token_expires_at timestamp(6) without time zone,
    reset_password_token_expires_at timestamp(6) without time zone,
    update_at timestamp(6) without time zone,
    update_by bigint,
    user_id bigint NOT NULL,
    verification_token_expires_at timestamp(6) without time zone,
    email character varying(100) NOT NULL,
    avatar_url character varying(500),
    bio text,
    password character varying(255),
    provider character varying(255),
    provider_id character varying(255),
    refresh_token_uuid character varying(255),
    reset_password_token character varying(255),
    verification_token character varying(255),
    fcm_token character varying(500)
);


ALTER TABLE public.users OWNER TO volunteer;

--
-- Name: users_roles; Type: TABLE; Schema: public; Owner: volunteer
--

CREATE TABLE public.users_roles (
    roles_role_id bigint NOT NULL,
    user_user_id bigint NOT NULL
);


ALTER TABLE public.users_roles OWNER TO volunteer;

--
-- Name: users_user_id_seq; Type: SEQUENCE; Schema: public; Owner: volunteer
--

ALTER TABLE public.users ALTER COLUMN user_id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.users_user_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Data for Name: activities; Type: TABLE DATA; Schema: public; Owner: volunteer
--



--
-- Data for Name: attendances; Type: TABLE DATA; Schema: public; Owner: volunteer
--



--
-- Data for Name: certificates; Type: TABLE DATA; Schema: public; Owner: volunteer
--



--
-- Data for Name: enrollments; Type: TABLE DATA; Schema: public; Owner: volunteer
--



--
-- Data for Name: notifications; Type: TABLE DATA; Schema: public; Owner: volunteer
--



--
-- Data for Name: organizations; Type: TABLE DATA; Schema: public; Owner: volunteer
--



--
-- Data for Name: roles; Type: TABLE DATA; Schema: public; Owner: volunteer
--

COPY public.roles (role_id, role_name, description) FROM stdin;
1	ADMIN	Administrator role with full access
2	STUDENT	STUDENT role with limited access
3	ORGANIZATION	ORGANIZATION role with limited access
\.


--
-- Data for Name: students; Type: TABLE DATA; Schema: public; Owner: volunteer
--

COPY public.students (date_of_birth, total_ctxh_days, mssv, create_at, create_by, update_at, update_by, user_id, gender, academic_year, faculty, full_name, qr_code_data, phone_number) FROM stdin;
2018-10-11	13.5	2213214	2026-01-09 22:44:15.224975	\N	2026-01-12 16:04:49.134263	3	2	MALE	2022	\N	Võ Quang Thắng	STUDENT-2-2213214	0096766889
2004-07-07	4	2212922	2026-01-11 01:07:46.056141	\N	2026-01-12 23:31:01.744536	3	4	MALE	2022	\N	Miller Bright	STUDENT-4-2212922	0911452785
\.


--
-- Data for Name: tasks; Type: TABLE DATA; Schema: public; Owner: volunteer
--



--
-- Data for Name: users; Type: TABLE DATA; Schema: public; Owner: volunteer
--



--
-- Data for Name: users_roles; Type: TABLE DATA; Schema: public; Owner: volunteer
--

COPY public.users_roles (roles_role_id, user_user_id) FROM stdin;
1	1
2	1
3	1
2	2
3	3
2	4
3	5
3	7
3	8
\.


--
-- Name: activities_activity_id_seq; Type: SEQUENCE SET; Schema: public; Owner: volunteer
--

SELECT pg_catalog.setval('public.activities_activity_id_seq', 14, true);


--
-- Name: attendances_attendance_id_seq; Type: SEQUENCE SET; Schema: public; Owner: volunteer
--

SELECT pg_catalog.setval('public.attendances_attendance_id_seq', 24, true);


--
-- Name: certificates_certificate_id_seq; Type: SEQUENCE SET; Schema: public; Owner: volunteer
--

SELECT pg_catalog.setval('public.certificates_certificate_id_seq', 57, true);


--
-- Name: enrollments_enrollment_id_seq; Type: SEQUENCE SET; Schema: public; Owner: volunteer
--

SELECT pg_catalog.setval('public.enrollments_enrollment_id_seq', 56, true);


--
-- Name: notifications_notification_id_seq; Type: SEQUENCE SET; Schema: public; Owner: volunteer
--

SELECT pg_catalog.setval('public.notifications_notification_id_seq', 45, true);


--
-- Name: roles_role_id_seq; Type: SEQUENCE SET; Schema: public; Owner: volunteer
--

SELECT pg_catalog.setval('public.roles_role_id_seq', 3, true);


--
-- Name: tasks_task_id_seq; Type: SEQUENCE SET; Schema: public; Owner: volunteer
--

SELECT pg_catalog.setval('public.tasks_task_id_seq', 20, true);


--
-- Name: users_user_id_seq; Type: SEQUENCE SET; Schema: public; Owner: volunteer
--

SELECT pg_catalog.setval('public.users_user_id_seq', 8, true);


--
-- Name: activities activities_pkey; Type: CONSTRAINT; Schema: public; Owner: volunteer
--

ALTER TABLE ONLY public.activities
    ADD CONSTRAINT activities_pkey PRIMARY KEY (activity_id);


--
-- Name: attendances attendances_pkey; Type: CONSTRAINT; Schema: public; Owner: volunteer
--

ALTER TABLE ONLY public.attendances
    ADD CONSTRAINT attendances_pkey PRIMARY KEY (attendance_id);


--
-- Name: certificates certificates_certificate_code_key; Type: CONSTRAINT; Schema: public; Owner: volunteer
--

ALTER TABLE ONLY public.certificates
    ADD CONSTRAINT certificates_certificate_code_key UNIQUE (certificate_code);


--
-- Name: certificates certificates_enrollment_id_key; Type: CONSTRAINT; Schema: public; Owner: volunteer
--

ALTER TABLE ONLY public.certificates
    ADD CONSTRAINT certificates_enrollment_id_key UNIQUE (enrollment_id);


--
-- Name: certificates certificates_pkey; Type: CONSTRAINT; Schema: public; Owner: volunteer
--

ALTER TABLE ONLY public.certificates
    ADD CONSTRAINT certificates_pkey PRIMARY KEY (certificate_id);


--
-- Name: enrollments enrollments_pkey; Type: CONSTRAINT; Schema: public; Owner: volunteer
--

ALTER TABLE ONLY public.enrollments
    ADD CONSTRAINT enrollments_pkey PRIMARY KEY (enrollment_id);


--
-- Name: notifications notifications_pkey; Type: CONSTRAINT; Schema: public; Owner: volunteer
--

ALTER TABLE ONLY public.notifications
    ADD CONSTRAINT notifications_pkey PRIMARY KEY (notification_id);


--
-- Name: organizations organizations_organization_name_key; Type: CONSTRAINT; Schema: public; Owner: volunteer
--

ALTER TABLE ONLY public.organizations
    ADD CONSTRAINT organizations_organization_name_key UNIQUE (organization_name);


--
-- Name: roles roles_pkey; Type: CONSTRAINT; Schema: public; Owner: volunteer
--

ALTER TABLE ONLY public.roles
    ADD CONSTRAINT roles_pkey PRIMARY KEY (role_id);


--
-- Name: roles roles_role_name_key; Type: CONSTRAINT; Schema: public; Owner: volunteer
--

ALTER TABLE ONLY public.roles
    ADD CONSTRAINT roles_role_name_key UNIQUE (role_name);


--
-- Name: students students_mssv_key; Type: CONSTRAINT; Schema: public; Owner: volunteer
--

ALTER TABLE ONLY public.students
    ADD CONSTRAINT students_mssv_key UNIQUE (mssv);


--
-- Name: students students_qr_code_data_key; Type: CONSTRAINT; Schema: public; Owner: volunteer
--

ALTER TABLE ONLY public.students
    ADD CONSTRAINT students_qr_code_data_key UNIQUE (qr_code_data);


--
-- Name: tasks tasks_pkey; Type: CONSTRAINT; Schema: public; Owner: volunteer
--

ALTER TABLE ONLY public.tasks
    ADD CONSTRAINT tasks_pkey PRIMARY KEY (task_id);


--
-- Name: attendances uk_attendance_student_activity_date; Type: CONSTRAINT; Schema: public; Owner: volunteer
--

ALTER TABLE ONLY public.attendances
    ADD CONSTRAINT uk_attendance_student_activity_date UNIQUE (student_id, activity_id, attendance_date);


--
-- Name: certificates uk_certificate_code; Type: CONSTRAINT; Schema: public; Owner: volunteer
--

ALTER TABLE ONLY public.certificates
    ADD CONSTRAINT uk_certificate_code UNIQUE (certificate_code);


--
-- Name: certificates uk_certificate_enrollment; Type: CONSTRAINT; Schema: public; Owner: volunteer
--

ALTER TABLE ONLY public.certificates
    ADD CONSTRAINT uk_certificate_enrollment UNIQUE (enrollment_id);


--
-- Name: enrollments uk_enrollment_student_activity; Type: CONSTRAINT; Schema: public; Owner: volunteer
--

ALTER TABLE ONLY public.enrollments
    ADD CONSTRAINT uk_enrollment_student_activity UNIQUE (student_id, activity_id);


--
-- Name: organizations uk_org_name; Type: CONSTRAINT; Schema: public; Owner: volunteer
--

ALTER TABLE ONLY public.organizations
    ADD CONSTRAINT uk_org_name UNIQUE (organization_name);


--
-- Name: organizations uk_org_user; Type: CONSTRAINT; Schema: public; Owner: volunteer
--

ALTER TABLE ONLY public.organizations
    ADD CONSTRAINT uk_org_user PRIMARY KEY (user_id);


--
-- Name: students uk_student_mssv; Type: CONSTRAINT; Schema: public; Owner: volunteer
--

ALTER TABLE ONLY public.students
    ADD CONSTRAINT uk_student_mssv UNIQUE (mssv);


--
-- Name: students uk_student_user; Type: CONSTRAINT; Schema: public; Owner: volunteer
--

ALTER TABLE ONLY public.students
    ADD CONSTRAINT uk_student_user PRIMARY KEY (user_id);


--
-- Name: users users_email_key; Type: CONSTRAINT; Schema: public; Owner: volunteer
--

ALTER TABLE ONLY public.users
    ADD CONSTRAINT users_email_key UNIQUE (email);


--
-- Name: users users_pkey; Type: CONSTRAINT; Schema: public; Owner: volunteer
--

ALTER TABLE ONLY public.users
    ADD CONSTRAINT users_pkey PRIMARY KEY (user_id);


--
-- Name: idx_activity_category; Type: INDEX; Schema: public; Owner: volunteer
--

CREATE INDEX idx_activity_category ON public.activities USING btree (category);


--
-- Name: idx_activity_org; Type: INDEX; Schema: public; Owner: volunteer
--

CREATE INDEX idx_activity_org ON public.activities USING btree (organization_id);


--
-- Name: idx_attendance_activity; Type: INDEX; Schema: public; Owner: volunteer
--

CREATE INDEX idx_attendance_activity ON public.attendances USING btree (activity_id);


--
-- Name: idx_attendance_student; Type: INDEX; Schema: public; Owner: volunteer
--

CREATE INDEX idx_attendance_student ON public.attendances USING btree (student_id);


--
-- Name: idx_certificate_code; Type: INDEX; Schema: public; Owner: volunteer
--

CREATE INDEX idx_certificate_code ON public.certificates USING btree (certificate_code);


--
-- Name: idx_certificate_student; Type: INDEX; Schema: public; Owner: volunteer
--

CREATE INDEX idx_certificate_student ON public.certificates USING btree (student_id);


--
-- Name: idx_enrollment_activity; Type: INDEX; Schema: public; Owner: volunteer
--

CREATE INDEX idx_enrollment_activity ON public.enrollments USING btree (activity_id);


--
-- Name: idx_enrollment_status; Type: INDEX; Schema: public; Owner: volunteer
--

CREATE INDEX idx_enrollment_status ON public.enrollments USING btree (status);


--
-- Name: idx_enrollment_student; Type: INDEX; Schema: public; Owner: volunteer
--

CREATE INDEX idx_enrollment_student ON public.enrollments USING btree (student_id);


--
-- Name: idx_notification_is_read; Type: INDEX; Schema: public; Owner: volunteer
--

CREATE INDEX idx_notification_is_read ON public.notifications USING btree (is_read);


--
-- Name: idx_notification_type; Type: INDEX; Schema: public; Owner: volunteer
--

CREATE INDEX idx_notification_type ON public.notifications USING btree (type);


--
-- Name: idx_notification_user; Type: INDEX; Schema: public; Owner: volunteer
--

CREATE INDEX idx_notification_user ON public.notifications USING btree (user_id);


--
-- Name: idx_org_user; Type: INDEX; Schema: public; Owner: volunteer
--

CREATE INDEX idx_org_user ON public.organizations USING btree (user_id);


--
-- Name: idx_student_mssv; Type: INDEX; Schema: public; Owner: volunteer
--

CREATE INDEX idx_student_mssv ON public.students USING btree (mssv);


--
-- Name: idx_student_user; Type: INDEX; Schema: public; Owner: volunteer
--

CREATE INDEX idx_student_user ON public.students USING btree (user_id);


--
-- Name: idx_task_activity; Type: INDEX; Schema: public; Owner: volunteer
--

CREATE INDEX idx_task_activity ON public.tasks USING btree (activity_id);


--
-- Name: idx_user_email; Type: INDEX; Schema: public; Owner: volunteer
--

CREATE INDEX idx_user_email ON public.users USING btree (email);


--
-- Name: users_roles fk27iuqlfirca39l6y61p4p4qo2; Type: FK CONSTRAINT; Schema: public; Owner: volunteer
--

ALTER TABLE ONLY public.users_roles
    ADD CONSTRAINT fk27iuqlfirca39l6y61p4p4qo2 FOREIGN KEY (user_user_id) REFERENCES public.users(user_id);


--
-- Name: activities fk_activity_organization; Type: FK CONSTRAINT; Schema: public; Owner: volunteer
--

ALTER TABLE ONLY public.activities
    ADD CONSTRAINT fk_activity_organization FOREIGN KEY (organization_id) REFERENCES public.organizations(user_id);


--
-- Name: attendances fk_attendance_activity; Type: FK CONSTRAINT; Schema: public; Owner: volunteer
--

ALTER TABLE ONLY public.attendances
    ADD CONSTRAINT fk_attendance_activity FOREIGN KEY (activity_id) REFERENCES public.activities(activity_id);


--
-- Name: attendances fk_attendance_student; Type: FK CONSTRAINT; Schema: public; Owner: volunteer
--

ALTER TABLE ONLY public.attendances
    ADD CONSTRAINT fk_attendance_student FOREIGN KEY (student_id) REFERENCES public.students(user_id);


--
-- Name: certificates fk_certificate_enrollment; Type: FK CONSTRAINT; Schema: public; Owner: volunteer
--

ALTER TABLE ONLY public.certificates
    ADD CONSTRAINT fk_certificate_enrollment FOREIGN KEY (enrollment_id) REFERENCES public.enrollments(enrollment_id);


--
-- Name: enrollments fk_enrollment_activity; Type: FK CONSTRAINT; Schema: public; Owner: volunteer
--

ALTER TABLE ONLY public.enrollments
    ADD CONSTRAINT fk_enrollment_activity FOREIGN KEY (activity_id) REFERENCES public.activities(activity_id);


--
-- Name: enrollments fk_enrollment_student; Type: FK CONSTRAINT; Schema: public; Owner: volunteer
--

ALTER TABLE ONLY public.enrollments
    ADD CONSTRAINT fk_enrollment_student FOREIGN KEY (student_id) REFERENCES public.students(user_id);


--
-- Name: notifications fk_notification_user; Type: FK CONSTRAINT; Schema: public; Owner: volunteer
--

ALTER TABLE ONLY public.notifications
    ADD CONSTRAINT fk_notification_user FOREIGN KEY (user_id) REFERENCES public.users(user_id);


--
-- Name: organizations fk_organization_user; Type: FK CONSTRAINT; Schema: public; Owner: volunteer
--

ALTER TABLE ONLY public.organizations
    ADD CONSTRAINT fk_organization_user FOREIGN KEY (user_id) REFERENCES public.users(user_id);


--
-- Name: students fk_student_user; Type: FK CONSTRAINT; Schema: public; Owner: volunteer
--

ALTER TABLE ONLY public.students
    ADD CONSTRAINT fk_student_user FOREIGN KEY (user_id) REFERENCES public.users(user_id);


--
-- Name: tasks fk_task_activity; Type: FK CONSTRAINT; Schema: public; Owner: volunteer
--

ALTER TABLE ONLY public.tasks
    ADD CONSTRAINT fk_task_activity FOREIGN KEY (activity_id) REFERENCES public.activities(activity_id);


--
-- Name: users_roles fktgou1kvdhyryu3fia6uu1fhoi; Type: FK CONSTRAINT; Schema: public; Owner: volunteer
--

ALTER TABLE ONLY public.users_roles
    ADD CONSTRAINT fktgou1kvdhyryu3fia6uu1fhoi FOREIGN KEY (roles_role_id) REFERENCES public.roles(role_id);


--
-- PostgreSQL database dump complete
--

