server:
  port: 8080

spring:
  application:
    name: volunteer

  datasource:
    url: jdbc:postgresql://localhost:5432/volunteer_db
    username: volunteer
    password: volunteer
    driver-class-name: org.postgresql.Driver
  jpa:
    hibernate:
      ddl-auto: update
      naming:
        physical-strategy: org.hibernate.boot.model.naming.CamelCaseToUnderscoresNamingStrategy
    show-sql: true


